@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

@font-face
{
    font-family: "mono";
    src: url(../webfonts/Montserrat-Regular.ttf);
}

@font-face
{
    font-family: "monobold";
    src: url(../webfonts/Montserrat-Bold.ttf);
}

@font-face
{
    font-family: "monosemibold";
    src: url(../webfonts/Montserrat-SemiBold.ttf);
}
html,body{margin: 0;padding: 0; font-size: 14px; font-family: "mono"!important;}
*{box-sizing: border-box;}
.container-medium{width: 80%; margin: 0 auto;}

h1,h2,h3,h5,h6{font-family: "monobold"!important;}
h4{font-family: "monosemibold"!important;}
a{font-family: "mono"!important;}
p{font-family: "mono"!important;}
.font-mono{font-family: "mono"!important;}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    margin-left: auto;
  }
.icon_color{color: #626262; font-size: 18px; margin-left: 30px;}
.navbar-nav a{font-weight: 800; color:#626262;}
.navbar-nav a:hover{color: #e60121; transition: all 0.5s ease;}
.nav_icon{margin-right: 30px; margin-left: 30px;}
.nav_icon a:hover{color:#626262;}
.icon-clr{color:#626262; font-size: 18px; }
.icon{
    position: fixed; 
    top: 89%; 
    right: 22px;
    height: 60px;
    width: 60px;
    background-color:#c00;
    border-radius: 50%;
    display: inline-block;
    z-index: 99;
}
.add{position: fixed; top: 89%; text-align: center; right: 35px; color: white; font-size: 40px;}
.add:hover{color: white;}
.banner_title
{
    padding: 0 140px;
    font-size: 40px;
    line-height: 2.4rem;
    color: #000;
    font-family: Montserrat-Bold;
    font-weight: 700;
    margin-top: 5.55rem;
}

.banner_title-1
{
    padding: 0 140px;
    font-size: 40px;
    line-height: 2.4rem;
    color: #fff;
    font-family: Montserrat-Bold;
    font-weight: 700;
    margin-top: 5.55rem;
}

.banner_tag
{
    padding: 0 137px;
    font-size:40px;
    line-height: 5.4rem;
    color: #000;
    font-family: Montserrat-Bold;
    font-weight: 700;
    letter-spacing: -0.69px;
    margin-top: 1rem;
}

.banner_tag-1
{
    padding: 0 137px;
    font-size:40px;
    line-height: 5.4rem;
    color: #fff;
    font-family: Montserrat-Bold;
    font-weight: 700;
    letter-spacing: -0.69px;
    margin-top: 1rem;
}


.banner_button
{
    padding: 0 0 0 180px;
    text-align: center;
    z-index: 3;
    margin-right: 0;
    position: absolute;
    bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_btn_default
{
    padding: 17px 60px;
    margin: 0 1.8rem 0 0;
    line-height: 1.5rem;
    background-color: #e60121;
    color: #fff;
    border: 1px solid #e60121;
    font-family: Montserrat-Bold;
    font-weight: 700;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    position: static;
    margin-right: 1.8rem;
    font-size: 1.2rem;
    border-radius: 2.4rem;
    display: inline-block;
    text-align: center;
    z-index: 3;
}
.banner_btn_default:hover{background-color: #fff; color: #e60121;}

.carousel-indicators [data-bs-target] {
    width: 8px !important;
    height: 6px !important;
}

/* .card_btn_default
{
    padding: 8px 18px;
    margin: 0 1.8rem 0 0;
    line-height: 1.5rem;
    background-color: #e60121;
    color: #fff;
    border: 1px solid #e60121;
    font-family: Montserrat-Bold;
    font-weight: 700;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    position: static;
    margin-right: 1.8rem;
    font-size: 0.9rem;
    border-radius: 2.4rem;
    display: inline-block;
    text-align: center;
} */

.card_btn_default {
    padding: 8px 18px;
    /* margin: 0 1.8rem 0 0; */
    line-height: 1.5rem;
    background-color: #e60121;
    color: #fff;
    border: 1px solid #e60121;
    font-family: Montserrat-Bold;
    font-weight: 700;
    transition: all .5s ease-in-out;
    text-align: center;
    border-radius: 2.4rem;
    /* text-transform: uppercase;
    text-decoration: none;
    position: static;
    margin-right: 1.8rem;
    font-size: 0.9rem;
    
    display: inline-block;
    
    margin: 0 auto; */
  }
.card_btn_default:hover{background-color: #fff; color: #e60121;}

.heading-1{font-size: 50px; font-family: Montserrat-ExtraBold; font-weight: 800; margin: 0 !important;}
.infography
{
    position: relative;
    padding-left: 5rem;
}
.infography::before
{
    content: "";
    width: 2.6rem;
    height: 2.9rem;
    transform: skew(30deg);
    background: #e60121;
    position: absolute;
    right: 0;
    top: 1.1rem;
    left: 2.3rem;
}
.infography::after
{
    content: "";
    width: 8.6rem;
    height: 2.9rem;
    transform: skew(30deg);
    background: linear-gradient(100deg,rgba(230,1,33,.522) -61%,#fff 88%);
    position: absolute;
    right: 0;
    top: 1.1rem;
    left: 5.3rem;
}

.infography_1
{
    position: relative;
    padding-left: 5rem;
}

.infography_1::before
{
    content: "";
    width: 2.6rem;
    height: 2.9rem;
    transform: skew(30deg);
    background: #e60121;
    position: absolute;
    right: 0;
    top: 0.8rem;
    left: 2.3rem;
}
.infography_1::after
{
    content: "";
    width: 8.6rem;
    height: 2.9rem;
    transform: skew(30deg);
    background: linear-gradient(100deg,rgba(230,1,33,.522) -61%,#fff0 88%);
    position: absolute;
    right: 0;
    top: 0.8rem;
    left: 5.3rem;
}

.title{position: absolute; z-index: 999;}
.title_heading-1{font-size: 50px; font-family: Montserrat-ExtraBold; font-weight: 800; color: white; margin: 0 !important;}

.autoplay_btn
{
    padding:  17px 60px;
    margin: 0;
    line-height: 10.5rem;
    background-color: #e60121;
    color: #fff;
    border: 1px solid #e60121;
    font-family: Montserrat-Bold;
    font-weight: 700;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 1.8rem;
    font-size: 1.2rem;
    border-radius: 2.4rem;
    text-align: center;
    cursor: pointer;
}
.autoplay_btn:hover{background-color: #fff; color: #e60121;}

.heading-2{font-size: 50px; font-family: Montserrat-ExtraBold; font-weight: 800; color: white; margin: 0 !important;}
.para{font-size: 28px; font-family: 'Montserrat', sans-serif; font-weight: 700; color: #626262; line-height: 24px;}
.para-2{font-size: 28px; font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff; line-height: 24px;}
.z-10{z-index: 9999; background: white; height: 80px;}
.nav-link{font-size: 16px;}
.bg-black{background: #343333; padding: 12rem 0 11.4rem}
.bg-white{background: white;}
.footer-logo{float: left; margin:20px 0;}
.bottom-heading
{
    text-align: left; 
    color: black; 
    line-height: 60px; 
    font-size: 21px; 
    font-family: "monosemibold"!important;
} 
.p-grey{color: rgba(44,46,63,.7); margin: 0px 0px; }
.p-grey:hover{color: red; transition: all 0.5s ease;}
.lineup-card
{
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.6rem 0 hsla(0,0%,77%,.5);
    transition-duration: 0.5s;
    cursor: pointer;
}
.card-body{padding: 16px 30px;}
.card-title{font-family:"monosemibold"!important; font-weight:700; font-size: 17px;}
.card-text{color: rgb(149, 150, 159);}
.card-1{width: 94%; margin:25px 3%; float: left;}
.card-1 a{text-decoration: none;}
.para-options{line-height: 40px;}
.bg-offwhite{background: #ededed;}
.bottom-heading-1{text-align: left; color: rgb(0, 0, 0); padding-top: 50px; font-size: 17px; font-weight: bold; margin-bottom: 40px; font-family: "monosemibold"!important;}
.para-color{color:black;}
.para-color-1{font-size: 16px; color:black;}
.para-color-1:hover{color: black;}
.subscribenow{position: relative; display: flex;}
.card-exp-text
{
    text-decoration: none; 
    color: #e60121;  
    font-family: Monserrat-Bold; 
    font-size: 16px; 
    padding: 4px 0px; 
    font-weight: 700;
    text-align: center;
}
.card-exp-text:hover{color: #e60121;}
.subscribenow input
    {font-size: 17px;
    font-family: Montserrat-Regular;
    color: #000;
    background-color: #fff;
    border: 0px solid;
    border-radius: 2.4rem 0 0 2.4rem;
    padding: 1.5rem 2.7rem;
    width: 38rem;
    position: relative;
    right: -1.9rem;
    }
.subscribenow input:focus{outline: none;}
.subscribenow_btn-icon
    {padding: 1.7rem 2rem 1.6rem 3.1rem;
    border-radius: 2.4rem;
    background-color: #e60121;
    font-size: 14px;
    letter-spacing: 0.2rem;
    color: #fff;
    text-transform: uppercase;
    font-family: "monobold"!important;
    position: relative;
    border: 0
    }
.subscribenow_icon-arrow-right
    {color: #fff;
    font-size: 1.1rem;
    margin-left: 0.4rem;
    position: relative;
    top: 0rem !important;
    }
.subscribenow_icon-arrow-right ::before{content: "";}

.go_to_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.go_to_list_item{
    width: 49%;
    margin-bottom: 2.8rem;
}
.go_to_list_item a{text-decoration: none!important;}
.go_to_card{
    padding: 2.7rem 3.1rem 2.7rem 2.7rem;
    border-radius: 0.6rem;
    backdrop-filter: blur(0.4rem);
    box-shadow: 0 0.4rem 0.6rem 0 hsla(0,0%,77%,.5);
    background-color: hsla(0,0%,100%,.56);
    display: flex;
    align-items: center;
    min-height: 10rem;
}

.arrow_icon
{
    content: "";
    position: absolute;
    background: #343333;
    border-radius: 2rem;
    line-height: 2.4rem;
    color: white;
    font-family: icomoon;
    font-size: 20px;
    width: 2.4rem;
    height: 2.4rem;
    top: 28%;
    right: 33px;
    text-align: center;
}
.go_to_card_icon{
    display: flex;
    align-items: center
}
.gotocard-icon
{
    width: 4.6rem;
    height: 4.6rem;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 0 0 1rem rgba(0,0,0,.07);
    padding: 8px;
    font-size: 2rem;
    line-height: 0;
    color: #ff6a71;
    cursor: pointer;
    transition: all .5s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}
.go_to_card_icon_loc::before{content: "";}
.go_to_card_details{margin-left: 1.8rem; width: 80%; text-decoration: none;}
.card-heading{font-family: Montserrat-Bold;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: normal;
    color: #000;
    margin: 0 0 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
}
.card-para{font-family: Montserrat-Medium;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: normal;
    color: #5f5c5c;
    margin: 0 0 0.1rem;
}

.text-card{display: flex; width: 100%;}
.text-list{list-style: none; padding-left: 0;}
.text-card-1{margin-top: 25px; margin-bottom: 5.1rem;}
.new_date_1{font-size: 1.8rem; line-height: 1.8rem; color: #666; font-family: Montserrat-Medium;}
.text-heading-1
{   
    font-size: 25px;
    line-height: 40px;
    color: #333;
    font-family: "mono"!important;
    margin-bottom: 1rem;
    margin-top: 1.4rem;
}
.readmore
{
    color: #e60121;
    font-size: 1.1rem;
    text-decoration: none;
    font-family: "monobold"!important;
    font-weight: 700;
}
.readmore:hover{color: #e60121;}
.social{width: 96%; margin-top: 22px; margin-left: -20px;}
.social a{padding: 12px; text-decoration: none; font-size: 45px;}
.sc_icon_clr{color: #bebebe;}

.card-2
{
    margin-top: 25px;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.9rem 0.4rem rgba(0,0,0,.08);
    background-color: #fff;
    width: 100%;

}
.card_top-sec
{
    position: relative;
    padding: 1.94rem 1.58rem 1.96rem 1.94rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_profile-wrap
{
    display: flex;
    align-items: center;
    position: relative;
}
.card_profile-img
{
    width: 5.2rem;
    height: 5.2rem;
    position: relative;
    overflow: hidden;
    border-radius: 5rem;
    border: 1px solid #eee;
}
.card_profile-content
{
    margin-left: 2.6rem;
}
.card_profile-name
{
    font-family: Montserrat-Bold;
    font-weight: 800;
    font-size: 1.86rem;
    line-height: 1;
    letter-spacing: normal;
}
.card_media-icon
{
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.card_social-img
{
    width: 100%;
    height: 48.5rem;
    overflow: hidden;
}
.card_bottom-sec
{
    position: relative;
    padding: 4.23rem 2.57rem 3.57rem;
}
.card_social-content
{
    max-width: 31.33rem;

}
.social-card_social-details
{
    font-size: 1.4rem;
    line-height: 1.99rem;
    color: #000;
    font-family: Montserrat-Regular;
    height: 4rem;
    overflow: hidden;
}
.social-card_cm-bold
{
    font-family: Monserrat-Bold;
    font-weight: 700;
}
.social-card_hash-list
{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: -26px;
}
.social-card_hash-item
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-card_hash-link
{
    margin: auto 5px 5px;
    text-decoration: none;
    color: #0165c6;
    font-size: 1.4rem;
    line-height: 13px;
    font-family: Montserrat-Regular;
    cursor: pointer;
    justify-content: space-between;
}
.info-link
{
    margin: 0;
    font-family: "monobold"!important;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #e60121;
    border: none;
    background: none;
    text-decoration: none;
    text-transform: uppercase;
}
.info-link:hover{color: #e60121;}
.fb-clr{color:#bdbdbd;}
.fb-clr:hover{color: #3b5998;}
.twtr-clr{color:#bdbdbd;}
.twtr-clr:hover{color: #00acee;}
.insta-clr{color:#bdbdbd;}
.insta-clr:hover{color: #f14744;}
.ytb-clr{color:#bdbdbd;}
.ytb-clr:hover{color:#c00;}
.lnkdn-clr{color: #bdbdbd;}
.lnkdn-clr:hover{color: #0A66C2;}





@media screen and (max-width:1400px) and (min-width:1200px)
{
    .banner_tag{font-size: 26px; margin-top: 2px;}
    .card_btn_default{font-size: 10px; padding: 8px 8px; margin: 0 1rem 0 0; display: block; left: 7px; position: relative;}
    .card-exp-text{padding-top: 10%; text-align: center; padding: 8px 0px;}
    .heading-1{font-size: 40px;}
    .infography::before{top: 5%;}
    .infography::after{top: 5%;}
    .subscribenow_btn-icon{padding: 0.7rem; padding-top: 1.6rem;}
    .heading-2{font-size: 40px;}
    .para-2{font-size: 24px;}
    .card-heading{font-size: 1rem;}
    .card-para{font-size: 1.1rem;}
}

@media screen and (max-width:1142px) and (min-width:992px)
{
    .nav-link {font-size: 10px;}
    .icon_color{font-size: 15px;}
}

@media screen and (max-width:1199px) and (min-width:992px)
{
    .banner_title{font-size: 30px;}
    .banner_title-1{font-size: 30px;}
    .banner_tag{font-size: 25px; line-height: 2.4rem;}
    .banner_tag-1{font-size: 25px; line-height: 2.4rem;}
    .heading-1{font-size: 32px;}
    .heading-2{font-size: 32px;}
    .title_heading-1{font-size: 32px;}
    .card_btn_default{padding: 8px 11px; margin: 0 1rem 0 0; font-size: 0.73rem; display: block; left: 10px; position: relative;}
    .card-exp-text{text-align: center; padding: 8px 0px;}
    .para{font-size: 19px;}
    .para-2{font-size: 19px;}
    .infography::before
    {
        width: 2.3rem;
        height: 2.3rem;
        top: 0.5rem;
        left: 1.7rem;
    }
    .infography::after
    {
        width: 5rem;
        height: 2.3rem;
        top: 0.5rem;
        left: 4.5rem;
    }
    .infography_1::before
    {
        width: 2.3rem;
        height: 2.3rem;
        top: 0.5rem;
        left: 1.7rem;
    }
    .infography_1::after
    {
        width: 5rem;
        height: 2.3rem;
        top: 0.5rem;
        left: 4.5rem;
    }
    .new_date_1{font-size: 1.5rem;}
    .text-heading-1{font-size: 20px;line-height: 30px;}
    .readmore{font-size: 1rem;}
    .card-heading{font-size: 1rem;}
    .card-para{font-size: 0.9rem;}
    .card_profile-img{width: 5rem; height: 5rem;}
    .card_profile-name{font-size: 1.2rem;}
    .card_media-icon{width: 5rem; height: 3.5rem;}
    .text-card{width: 30rem;}
    .card_social-img{height: 34rem;}
    .card-2{width: 110%;}
    .info-link{font-size: 1rem;}
    .subscribenow{left: -90px;}
    .subscribenow input{font-size: 15px;}
    .subscribenow_btn-icon{font-size: 12px;}
    .bottom-heading{font-size: 15px;}
    .para-options{line-height: 30px;}
    .bottom-heading-1{font-size: 14px;}
    .para-color-1{font-size: 14px;}
    .para-color{font-size: 14px;}
    .social{width: 90%; font-size: 6px;}
}

@media screen and (max-width:991px) and (min-width:768px)
{
    .navbar-collapse {background: white; box-shadow: 0 0.4rem 0.6rem 0 rgba(196, 196, 196, 0.5);}
    .navbar-toggler:focus{ box-shadow: none;}
    .banner_title{font-size: 25px;}
    .banner_title-1{font-size: 25px;}
    .banner_tag{font-size: 20px; line-height: 2.5rem;}
    .banner_tag-1{font-size: 20px; line-height: 2.5rem;}
    .banner_btn_default{padding: 12px 30px; font-size: 0.9rem; margin: 9px 0 0 -44px;}
    .card-title{font-size: 20px;}
    .card_btn_default{padding: 8px 11px; margin: 0 1rem 0 0; font-size: 0.73rem; display: block; left: 10px; position: relative;}
    .card-exp-text{text-align: center; padding: 8px 0px;}
    .card-heading{font-size: 0.8rem; line-height: 1.3rem;}
    .card-para{font-size: 0.8rem;}
    .arrow_icon{font-size: 15px; top: 45px!important; right: 35px!important; width: 1.5rem; height: 1.5rem; line-height: 1.5rem; position: absolute;}
    .gotocard-icon{width: 2.6rem; height: 2.6rem; font-size: 1.4rem;}
    .heading-1{font-size: 30px;}
    .para{font-size: 15px;}
    .title_heading-1{font-size: 30px;}
    .para-2{font-size: 15px;}
    .autoplay_btn{padding: 12px 30px; font-size: 0.9rem; line-height: 3.5rem;}
    .heading-2{font-size: 26px;}
    .infography::before
    {
        width: 2rem;
        height: 2rem;
        top: 0.6rem;
        left: 1.3rem;
    }
    .infography::after
    {
        width: 3rem;
        height: 2rem;
        top: 0.6rem;
        left: 3.8rem;
    }
    .infography_1{padding-left: 0rem;}
    .infography_1::before
    {
        width: 2rem;
        height: 2rem;
        top: 0.6rem;
        left: 1.3rem;
    }
    .infography_1::after
    {
        width: 3rem;
        height: 2rem;
        top: 0.6rem;
        left: 3.8rem;
    }
    .text-card{width: 20rem;}
    .new_date_1{font-size: 1.4rem;}
    .text-heading-1{font-size: 15px;}
    .readmore{font-size: 0.9rem;}
    .info-link{font-size: 0.9rem;}
    .card_profile-img{width: 3.2rem; height: 3.2rem;}
    .card_profile-name{font-size: 0.9rem;}
    .card_media-icon{width: 3.2rem; height: 3.2rem;}
    .card_social-img{height: 25rem;}
    .social-card_social-details{font-size: 1.2rem;}
    .social-card_hash-link{font-size: 1.2rem;}
    .bottom-heading{font-size: 12.5px;}
    .para-options{line-height: 25px;}
    .bottom-heading-1{font-size: 15px;}
    .para-color{font-size: 13px;}
    .para-color-1{font-size: 13px;}
    .social{width: 75%;}
    .subscribenow input{font-size: 12px; padding: 1.5rem 2rem;}
    .subscribenow_btn-icon{font-size: 11px;}
}

@media screen and (max-width:767px) and (min-width:576px)
{
    .icon{z-index: 99;}
    .navbar-collapse {background: white; box-shadow: 0 0.4rem 0.6rem 0 rgba(196, 196, 196, 0.5);}
    .navbar-toggler:focus{ box-shadow: none;}
    .banner_title{padding: 0 100px; font-size: 20px; margin-top: 3.5rem;}
    .banner_title-1{padding: 0 100px; font-size: 20px; margin-top: 3.5rem;}
    .banner_tag{padding: 0 100px; font-size: 15px; line-height: 2rem; margin-top: 0rem;}
    .banner_tag-1{padding: 0 100px; font-size: 15px; line-height: 2rem; margin-top: 0rem;}
    .banner_btn_default{padding: 7px 20px; font-size: 0.8rem; margin: 12px 0 0 -90px;}
    .heading-1{font-size: 40px;}
    .para{font-size: 20px;}
    .title_heading-1{font-size: 40px;}
    .para-2{font-size: 20px;}
    .autoplay_btn{padding: 12px 30px; font-size: 0.9rem; line-height: 3.5rem;}
    .heading-2{font-size: 40px;}
    .card_btn_default{display: block; left: 12px; position: relative;}
    .card-exp-text{text-align: center; padding: 8px 0px;}
    .infography::before
    {
        width: 2.3rem;
        height: 2.4rem;
        top: 0.9rem;
        left: 1.3rem;
    }
    .infography::after
    {
        width: 5rem;
        height: 2.4rem;
        top: 0.9rem;
        left: 4.1rem;
    }
    .infography_1::before
    {
        width: 2.3rem;
        height: 2.4rem;
        top: 0.9rem;
        left: 1.3rem;
    }
    .infography_1::after
    {
        width: 5rem;
        height: 2.4rem;
        top: 0.9rem;
        left: 4.1rem;
    }
    .go_to_list_item{width: 100%;}
    .card_social-img{height: 30rem;}
    .card_profile-img{width: 3.2rem; height: 3.2rem;}
    .card_profile-content {margin-left: 6rem;}
    .card_profile-name{font-size: 1.5rem;}
    .card_media-icon{width: 3.2rem; height: 3.2rem;}
    .card-1{text-align: center;}
    .bottom-heading{text-align: center;}
    .bottom-heading-1{text-align: center;}
    .social{text-align: center; margin-left: 0;}
}

@media screen and (max-width:575px) and (min-width:320px)
{
    .sm-logo{width: 130px;}
    .z-10{height: 55px;}
    .icon{z-index: 99;}
    .bg-black{padding: 2rem 0 2rem 0;}
    .navbar-collapse {background: white; box-shadow: 0 0.4rem 0.6rem 0 rgba(196, 196, 196, 0.5);} 
    .navbar-toggler:focus{ box-shadow: none;}
    .nav-link {font-size: 13px;}
    .icon{top: 89%; right: 21px; height: 42px; width: 42px;}
    .add{top: 89%; right: 30px; font-size: 29px;}
    /*------------------------*/
    .banner_title{padding: 0 50px; font-size: 18px; margin-top: 3rem; line-height: 1.5rem;}
    .banner_title-1{padding: 0 50px; font-size: 18px; margin-top: 3rem; line-height: 1.5rem;}
    .banner_tag{padding: 0 50px; font-size: 12px; line-height: 1.1rem; margin-top: 0rem;}
    .banner_tag-1{padding: 0 50px; font-size: 12px; line-height: 1.1rem; margin-top: 0rem;}
    .banner_btn_default{padding: 7px 20px; font-size: 0.8rem; margin: 12px 0 0 -90px; position: relative; top: 67px; left: -23px;}
    .heading-1{font-size: 24px;}
    .para{font-size: 15px;}
    .title_heading-1{font-size: 24px;}
    .para-2{font-size: 15px;}
    .autoplay_btn{padding: 12px 30px; font-size: 0.9rem; line-height: 2rem;}
    .heading-2{font-size: 24px;}
    .gotocard-icon{width: 3.6rem; height: 3.6rem; font-size: 1.6rem;}
    .card-heading{font-size: 0.9rem;}
    .card-title{font-size: 16px;}
    .card_btn_default{font-size: 0.7rem; position: relative; display: block;}
    .card-exp-text{font-size: 12px; padding: 8px 0px; text-align: center;}
    .new_date_1{font-size: 1.4rem;}
    .text-heading-1{font-size: 14px; line-height: 30px;}
    .title{margin-top: 1.5rem!important;}
    .card-para{font-size: 1rem; line-height: 1.5rem; padding-top: 0.5rem;}
    .arrow_icon{right: 23px; line-height: 1.4rem;font-size: 12px; width: 1.4rem; height: 1.4rem; top: 23%;}
    .infography::before
    {
        width: 2rem;
        height: 2rem;
        top: 0.2rem;
        left: 1.3rem;
    }
    .infography::after
    {
        width: 3rem;
        height: 2rem;
        top: 0.2rem;
        left: 4rem;
    }
    .infography_1::before
    {
        width: 2rem;
        height: 2rem;
        top: 0.2rem;
        left: 1.3rem;
    }
    .infography_1::after
    {
        width: 3rem;
        height: 2rem;
        top: 0.2rem;
        left: 4rem;
    }
    .subscribenow{justify-content: center;}
    .subscribenow input{font-size: 11px; width: 12rem;}
    .subscribenow_btn-icon{padding: 1.7rem 0.9rem 1.6rem 1.8rem; font-size: 10px; width: 10rem;}
    .go_to_list_item{width: 100%;}
    .card_social-img{height: 22rem;}
    .card_profile-img{width: 3rem; height: 3rem;}
    .card_profile-content {margin-left: 0.5rem;}
    .card_profile-name{font-size: 1rem;}
    .card_media-icon{width: 3rem; height: 3rem;}
    .card_bottom-sec{padding: 0rem 2.57rem 3.57rem;}
    .social-card_social-details{font-size: 1.2rem;}
    .social-card_hash-link{font-size: 1.2rem;}
    .readmore{font-size: 1rem;}
    .info-link{font-size: 0.8rem;}
    /*-----------------------*/
    .card-1{text-align: center;}
    .footer-logo{float: none; text-align: center; margin: 20px 0;}
    .bottom-heading{text-align: center;}
    .bottom-heading-1{text-align: center;}
    .social{text-align: center; margin-left: 0;}
}
